.block-conductor {
  background-color: white;
}
#conductor-form {
  border: 0.06rem solid #dedfe4;
  box-shadow: 0 0.06rem 0.3rem 0 rgba(0, 0, 0, 0.25);
}
#conductor-form > div {
  background: white !important;
}
#conductor-form .claro-details__content--accordion-item {
  margin: 0;
}
#conductor-form .gin-table-scroll-wrapper {
  margin: 0;
  padding: 0;
}
.block-conductor .form-item {
  margin: 0 0 0.9rem;
}
.block-conductor h5 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.conductor__message-inner {
  display: none;
  padding: 0 1.563rem 1.563rem 1.563rem;
}
.conductor__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.conductor__title {
  margin: 0 0 0.938rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.869rem;
}
.conductor__logo img {
  display: flex;
  width: 100%;
  height: 2.875rem;
  object-fit: contain;
}
.conductor__keyword-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 1.6rem;
}
.conductor__keyword-container .form-type--textfield {
  width: calc(100% - 9.188rem);
  margin-bottom: 1.25rem;
  padding-right: 0.938rem;
}
.conductor__keyword-container input[type="text"] {
  min-height: 2rem;
  padding: 0.188rem 0.625rem;
}
.conductor__keyword-container label {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.688rem;
}
.conductor__keyword-container .button {
  margin: 0;
  padding: 0.438rem 0.625rem !important;
  outline: none !important;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.006rem;
}
.conductor__keyword-container .button.generating,
.conductor__keyword-container .button:disabled {
  pointer-events: none;
  color: #ababab;
  border-color: initial !important;
  background-color: #dedfe4;
}
.conductor__keyword-container .button:not(:disabled,
.generating) {
  color: #fff;
  background-color: #1dba49;
}
.block-conductor .ajax-progress.ajax-progress--throbber {
  display: none;
  justify-content: center;
  width: 100%;
  margin: 0.625rem 0;
}
.conductor__preloader {
  padding: 0.625rem 1.6rem;
  text-align: center;
}
.conductor__preloader__image img {
  width: auto;
  height: 2.875rem;
  margin: auto;
  object-fit: contain;
}
.conductor__preloader__text {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.conductor__preloader-before,
.conductor__preloader-generating,
.conductor__preloader-generating__container {
  display: none;
}
.conductor__preloader:not(.generating,
.generated) .conductor__preloader-before {
  display: block;
}
.conductor__preloader.generating .conductor__preloader-generating {
  display: block;
}
.conductor__preloader.generating .conductor__preloader-generating__container {
  display: flex;
}
.conductor__preloader__text.conductor__preloader-generating {
  width: 100%;
}
.conductor__content-score {
  text-align: left;
  color: #76777c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.438rem;
}
.conductor__content-score p {
  margin: 0 0 0.313rem;
}
.conductor__content-score b {
  font-weight: 700;
}
.conductor__content-score__error {
  font-size: 0.75rem;
}
.conductor__content-score .conductor__help-text__container {
  margin-bottom: 0.625rem;
}
.conductor__content-score .conductor__help-text__container > p {
  min-width: 11.25rem;
}
.conductor__accordion {
  display: flex;
  flex-direction: column;
  padding: 0.938rem;
  border-top: 0.125rem solid #e3e3e8;
}
.conductor__accordion-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.conductor__accordion-label h3 {
  margin: 0;
  text-align: center;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.conductor__accordion-icon {
  margin-right: 0.938rem;
}
.conductor__accordion-icon img {
  display: flex;
  height: 2.438rem;
}
.conductor__accordion-content {
  display: none;
  padding-top: 1.875rem;
}
.conductor__accordion-content__container {
  margin: 0 0 1.875rem 0;
  padding: 1.563rem;
  border: 0.125rem solid rgba(227, 227, 232, 1);
}
.conductor__accordion.collapse .conductor__accordion-content {
  display: block;
}
.conductor__accordion.collapse .conductor__accordion-icon {
  transform: rotate(180deg);
}
.conductor__accordion-content__label {
  margin: 0 0 0.938rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.conductor__accordion-content__summary {
  margin: 0 0 0.938rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.conductor__accordion-content table {
  margin: 0;
  table-layout: fixed;
}
.conductor__accordion-content table .conductor__body-copy__header td,
.conductor__accordion-content table th {
  font-family: Helvetica, sans-serif;
  font-size: 0.688rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.conductor__accordion-content table td {
  font-family: Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.conductor__accordion-content table td,
.conductor__accordion-content table th {
  height: auto;
  padding: 0.313rem 0;
  vertical-align: top;
  background: none;
}
.conductor__accordion-content table td:not(:first-of-type,
:last-of-type),
.conductor__accordion-content table th:not(:first-of-type,
:last-of-type) {
  padding: 0.313rem 0.938rem;
}
.conductor__accordion-content table tr {
  border: none;
  background: transparent;
}
.conductor__accordion-content table tr:hover {
  background: none;
}
.conductor__accordion-content .hidden {
  display: none;
}
.conductor__accordion-content__preloader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.conductor__accordion-content .conductor__body-copy {
  margin-bottom: 1.563rem;
}
.conductor__help-text__container {
  position: relative;
  display: flex;
  align-items: center;
}
.conductor__help-text__popup {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 0.938rem;
  display: none;
  width: 0;
  height: 0;
  transition: all 0.3s;
  transform: translateY(calc(-50% - 0.625rem));
}
.conductor__help-text__popup__text {
  position: absolute;
  min-width: 8.438rem;
  margin: 0.625rem 0;
  padding: 0.5rem 0.75rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  border-radius: 0.25rem;
  background-color: #1d3744;
  box-shadow: 0.125rem 0.25rem 0.375rem 0 rgba(184, 207, 219, 0.5);
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}
.conductor__help-text__popup__text::before {
  position: absolute;
  top: 50%;
  left: -0.5rem;
  content: "";
  transform: translateY(-50%);
  border-top: 0.438rem solid transparent;
  border-right: 0.5rem solid #1d3744;
  border-bottom: 0.438rem solid transparent;
}
.conductor__help-text__popup.left .conductor__help-text__popup__text {
  right: 2.8rem;
}
.conductor__help-text__popup.left .conductor__help-text__popup__text::before {
  right: -0.5rem;
  left: initial;
  border-right: none;
  border-left: 0.5rem solid #1d3744;
}
.conductor__help-text__popup__text p {
  margin: 0 0 0.938rem;
}
.conductor__help-text__popup__text p:last-child {
  margin: 0;
}
.conductor__help-text__container h5 {
  margin: 0;
}
.conductor__help-text__container img {
  height: fit-content;
  padding-left: 0.313rem;
  cursor: help;
}
.conductor__help-text__container img:hover + .conductor__help-text__popup {
  display: block;
}
.conductor__score-factors {
  margin-bottom: 0.938rem;
}
.conductor__score-factors > p {
  margin: 0;
  color: #76777c;
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.conductor__score-factors b {
  font-weight: 700;
}
.conductor__questions-to-answer .conductor__accordion-content__summary {
  margin-bottom: 1.875rem;
}
.conductor__content-readability:first-of-type,
.conductor__content-length:first-of-type {
  margin-top: 1.563rem;
}
.conductor__content-readability,
.conductor__content-length {
  display: block;
  margin-bottom: 1.563rem;
  text-align: left;
  color: #76777c;
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.conductor__content-readability p,
.conductor__content-length p {
  display: contents;
  margin: 0 0 0.313rem;
}
.conductor__content-readability p:first-of-type,
.conductor__content-length p:first-of-type {
  margin-right: 0.125rem;
}
.block-conductor a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #1dba49;
}
.block-conductor a:hover {
  text-decoration: underline;
  color: #1dba49;
}
.conductor__error {
  margin: 0 !important;
}
.conductor__error > p {
  margin: 0;
  padding: 0.625rem !important;
  color: #76777c;
  border: 0.063rem solid #e34f4f;
  border-radius: 0.188rem;
  background: #fce9e9 !important;
  font-size: 0.625rem;
  line-height: 1.5;
}
.see-wrapper td {
  padding: 0;
}

.progress-container {
  width: 100%;
  border: 1px solid #1dba49;
  border-radius: 8px;
  background: #fff;
}
.progress-bar {
  width: 0;
  height: 15px;
  transition: width 0.4s ease-in;
  text-align: center;
  color: #fff;
  border-radius: 8px 0 0 8px;
  background: linear-gradient(to right, #08f108, #29b006);
  font-size: 0.65rem;
  line-height: 15px;
}
.text-align-left {
  text-align: left;
}
.no-margin-top {
  margin-top: 0;
}
.generating-guidance-text {
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
}
.conductor__preloader-generating__container {
  margin-top: 10%;
}
.guidance-steps {
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}
