<div class="conductor__accordion-content__container">
  <h4 class="conductor__accordion-content__label">{{'Body copy suggestions'|t}}</h4>
  <p class="conductor__accordion-content__summary">{{ summary }}</p>
  <div class="conductor__accordion-content__table">{{ build|raw }}</div>
</div>
