<div class="conductor__accordion-content__container">
  <h4 class="conductor__accordion-content__label">{{ 'Score factors'|t }}</h4>
  <p class="conductor__accordion-content__summary">{{ 'Make sure you are covering the most important topics from the Body Copy suggestions in this draft.'|t }}</p>
  <div class="conductor__accordion-content__table">
    {% if error_message is null  %}
      {%  for detail in detail_mapping %}
        <div class="conductor__help-text__container conductor__score-factors">
            {{ detail.label | raw }}
          <img src="/{{ module_base_path }}/images/help-circle.svg" />
          <div class="conductor__help-text__popup">
            <div class="conductor__help-text__popup__text">
                {{ detail.help_text }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {{ error_message }}
    {% endif %}
  </div>
</div>

