<div class="conductor__accordion-content__container conductor__questions-to-answer">
  <h4 class="conductor__accordion-content__label">{{ 'Questions to Answer'|t }}</h4>
  <p class="conductor__accordion-content__summary">{{ 'Discover how your draft can better answer the questions your audience is asking about this topic. Helpful content is more valuable to the customer and often ranks higher.'|t }}</p>
  {{ build  }}
</div>

