<div class="conductor__accordion-content__container conductor__readability">
  <h4 class="conductor__accordion-content__label">{{ 'Readability'|t }}</h4>
  <p class="conductor__accordion-content__summary">{{ summary }}</p>
  {% if error_message is null  %}
    <div class="conductor__content-readability">
      <p>Your draft:</p>
      <p>{{ your_draft }}</p>
    </div>
    <div class="conductor__content-readability">
      <p>Top pages average:</p>
      <p>{{ average }}</p>
    </div>
  {% else %}
    {{ error_message }}
  {% endif %}
</div>

