<div class="conductor__accordion-content__container">
  <h4 class="conductor__accordion-content__label">{{ label }}</h4>
  <p class="conductor__accordion-content__summary">{{ summary }}</p>
  <div class="conductor__accordion-content__table">
    {{ build }}
  </div>
</div>

