<div class="conductor__accordion-content__container conductor__questions-to-answer">
  <h4 class="conductor__accordion-content__label">{{ 'Length'|t }}</h4>
  <p class="conductor__accordion-content__summary">{{ summary }}</p>
  {% if error_message is null  %}
    <div class="conductor__content-length">
      <p>{{  'Your draft'|t }}:</p>
      <p>{{ metric_value }}</p>
    </div>
    <div class="conductor__content-length">
      <p>{{ 'Top pages average'|t }}:</p>
      <p>{{ average_metric_value }}</p>
    </div>
  {% else %}
    {{ error_message }}
  {% endif %}
</div>

