<div class="conductor__content-score">
  <div class="conductor__help-text__container">
    <p>{{'Content Score'|t}} <b> {{ percentage }}</b></p>
    <img src="/{{ module_base_path }}/images/help-circle.svg" />
    <div class="conductor__help-text__popup">
      <div class="conductor__help-text__popup__text">
        <p>{{'Reflects how holistically and comprehensively your content addresses the given topic. Higher scores reflect higher potential for your content to perform successfully in search results.'|t}}</p>
        <p>{{'It is based on three components'|t}}</p>
        <ul>
          <li>{{'Keyword coverage'|t}}</li>
          <li>{{'Sentence structure'|t}}</li>
          <li>{{'Repetitions'|t}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

